package dayXX

type Day struct {
}

func NewDay(input string) (*Day, error) {
	return &day{}, nil
}

func (d day) SolvePartOne() (string, error) {
	return "", nil
}

func (d day) SolvePartTwo() (string, error) {
	return "", nil
}
